body {
    /* font-family: Oxygen, sans-serif; */
    background-color:#8c04a4;
    color: #000000;
    font-size: 20px;
    /* line-height: 20px; */
    /* font-weight: 400; */
}

img {
    height: auto;
    border: none !important;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

.unit-of-measurement {
    margin-top: -5px !important;
    margin-bottom: 4.5px !important;

}

/*imagens 360Âº*/
.name-city-panorama-img {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 190px;
    left: 0 !important;
    right: 0 !important;
    text-align: center;
}

.name-city-panorama-fundo {  /*posicao da imagem de fundo*/
	margin-left: auto !important;
    margin-right: auto !important;
	margin-top: -35px !important;
    position: absolute;
	margin: -150px 0px 0px 300px;
	max-width: 1950px;
    left: 0 !important;
    right: 0 !important;
    text-align: center;
}

.pano {
    width: 100%;
    margin: 0 auto;
    cursor: move;
    overflow: hidden;
}

.pano .controls {
    position: relative;
    top: 40%;
}

.pano .controls a {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    color: #eee;
    font-size: 3em;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.pano .controls a.left {
    left: 10px;
}

.pano .controls a.right {
    right: 10px;
}

.pano.moving .controls a {
    opacity: 0.4;
    color: #eee;
}

/**/
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    max-width: 550px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    display: block;
    margin: 0px auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0px auto;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #888;
    cursor: pointer;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.close:hover {
    background: #BD1201;
}

.row-form-newsletter {
    text-align: center;
}

.input-newsletter {
    font-size: 14px !important;
    margin-bottom: inherit !important;
}

.mc-field-group .mce_inline_error {
    font-size: 9px;
}

/*MAPS*/
#map_wrapper {
    height: 500px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

#map_wrapper_loja_coqueiros {
    height: 500px;
}

#map_canvas_loja_coqueiros {
    width: 100%;
    height: 100%;
}

.navbar { /* lugar onde o MiniMenu fica*/
    position: fixed;
    left: 0px;
    overflow: hidden;
    z-index: 99999;
	
}



.button-menu {
    background: #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 6px 8px 4px;
    cursor: pointer;
}

.button-menu:hover {
    background: #c62127;
}

.icon-menu {
    display: block;
    margin: 0px auto;
    margin-bottom: 4px;
    max-width: 28px;
}

.navmenu {
    max-width: 0px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.95);
}

.nav-opened {
    max-width: 185px;
}

.link-nav {
    padding: 15px 8px;
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    color: #fff;
    word-wrap: break-word;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.link-nav:hover {
    color: #c62127;
}

.link-nav-current {
    color: #c62127;
}

.alm-btn-wrap {
    clear: both;
}

.ssb-share a {
    margin-bottom: 10px !important;
}

.count, .reddit, .pinterest {
    display: none !important;
}

.slick-slider {
    margin: 0px;
}

.slick-prev:before, .slick-next:before {
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.row-slider-products-home .slick-prev:before {
    content: url('../../Imagens/arrow-left.png');
}

.row-slider-products-home .slick-next:before {
    content: url('../../Imagens/arrow-right.png');
}

.slider-fleet .slick-prev:before, .other-news .slick-prev:before {
    content: url('../../Imagens/arrow-left-pagination.png');
}

.slider-fleet .slick-next:before, .other-news .slick-next:before {
    content: url('../../Imagens/arrow-right-pagination.png');
}

.content-fleet-item:hover .overlay-fleet-item {
    opacity: 1;
}

.overlay-stores:hover .address-content {
    opacity: 0;
}

.overlay-stores:hover .icons-view-more-store {
    opacity: 1;
}

.overlay-stores:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.header {
    position: relative;
    z-index: 999;
    width: 100%;
    background: #C62127;
}

.header.header-internal-pages {
    position: relative;
    margin-bottom: 30px;
}

.header.header-internal-pages.header-products-pages {
    margin-bottom: 40px;
}

.navigation-box-header {
    overflow: hidden;
    float: right;
}

.navigation-box-header .ink-nav-footer {
    padding-left: 7px !important;
    padding-right: 7px !important;
    font-size: 13px !important;
}

.navigation-box-header .menu-footer {
    padding: 30px 0px;
}

.brand-logo {
    display: block;
    padding: 10px 20px;
    float: left;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: #fff;
    position: absolute;
}

.brand-logo.brand-logo-internal-pages {
    border-bottom-left-radius: 20px;
    box-shadow: 1px 7px 25px -5px rgba(0, 0, 0, .4);
}

.container-fluid {
    position: relative;
    display: block;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
	border-radius: 50px;
}

.container-fluid2 {
    position: relative;
    display: block;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
	border-radius: 50px;
}

.container-fluid3 { /*quadro vermelho com os links*/
    position: relative;
    display: block;
    max-width: 710px;
	color: #fff;
	width: 710px;
	height:510px;
    margin-right: auto;
    margin-left: 30%;
	margin-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
	border-radius: 50px;
	background-color: #970e14; 	
}

.container-fluid4 { /*quadro vermelho de Documentos*/
    position: relative;
    display: block;
    max-width: 710px;
	color: #fff;
	width: 710px;
	height:510px;
    margin-right: auto;
    margin-left: auto;
	margin-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
	border-radius: 50px;
	background-color: #970e14; 	
}

.fundodocs { /*quadro vermelho de Documentos da aba Documentos*/
    position: relative;
    display: block;
    max-width: 1200px;
	max-height: auto;
	color: #fff;
	width: 730px;
	height:620px;
    margin-right: auto;
    margin-left: auto;
	margin-top: -20px;
    padding-right: 33px;
    padding-left: 33px;
	padding-top: 33px;
	border-radius: 50px;
	background-color: #970e14;	
}

.servicedesk{  /*Figura em construcao*/
    position: relative;
    display: block;
    max-width: 1200px;
	max-height: auto;
	width: 322px;
	height:273px;
    margin-right: auto;
    margin-left: auto;
	margin-top: -30px;
}

.pesquisa {
    display: block;
	max-width: 100px;
    position: absolute;
	margin: 40px 0px 0px 470px;
	
}

.texto2{ /*Segunda coluna dos links CONTAS A PAGAR*/
	position: relative;
    display: block;
	margin: -245px 0px 0px 330px;
}


.texto3{ /*Segunda coluna dos links DEP. PESSOAL*/
	position: relative;
    display: block;
	margin: -385px 0px 0px 330px;
}

.menufinal {
position: relative;
margin: 55px 0px 0px 0px;
}

.menufinal2 {
position: relative;
margin: 25px 0px 0px 0px;
}

.menufinal3 {
position: relative;
margin: -15px 0px 0px 0px;
}

.menufinal4 {
position: relative;
margin: -25px 0px 0px 0px;
}

.social-header {
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
}

.social-header.social-header-stores {
    border-bottom-right-radius: 0px;
}

.link-social-header {
    margin-right: 5px;
    float: left;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.link-social-header:hover {
    opacity: 0.74;
}

.link-social-header.last-link {
    margin-right: 0px;
}

.icon-social {
    max-width: 30px;
}

.section-slider-home {
    min-height: 0px;
    position: relative;
}

.section-super-offers {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffda10;
}

.title-home {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 25px;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.article-products {
    padding-right: 15px;
    padding-left: 15px;
    color: #000;
    height: 410px;
    margin-bottom: 80px;

}

.article-products.article-list-products {
    margin-bottom: 45px;
}

.category-products-home {
    max-width: 75%;
    margin-bottom: 15px;
    padding: 3px 5px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.category-products-home.window-frames {
    background-color: #04c568;
}

.category-products-home.floors-coverings {
    background-color: #12c1b3;
}

.category-products-home.several {
    background-color: #a449a7;
}

.category-products-home.electrics {
    background-color: #f48933;
}

.category-products-home.category-list-products {
    max-width: 100%;
    margin-bottom: 0px;
}

.text-category-products-home {
    margin-bottom: 0px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

.thumb-product {
    display: block;
    margin-bottom: 12px;
}

.title-list-product {
    margin-bottom: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.itens-product {
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
}

.div-title-list-product {
    margin-bottom: 12px;
}

.old-price {
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 14px;
    font-weight: 300;
}

.span-old-price {
    font-size: 11px;
}

.text-price {
    margin-bottom: 15px !important;
    font-size: 12px !important;
}

.span-actual-price {
    font-size: 13.5px;
}

.actual-price {
    margin-bottom: 4.5px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

.span-decimal-actual-price {
    position: relative;
    top: -3px;
    font-size: 12px;
    font-weight: 700;
}

.text-division-price {
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
}

.span-division-actual-price {
    font-size: 11px;
}

.code-product {
    margin-bottom: 0px;
    font-size: 10px;
    line-height: 11px;
}

.div-prices {
    width: 50%;
    float: left;
}

.informations-product {
    position: relative;
}

.unavaliable-product {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50%;
    max-width: 118px;
    padding: 5px 8px;
    background-color: #c62127;
}

.text-unavaliable-product {
    margin-bottom: 0px;
    color: #fff;
    font-size: 11px;
    line-height: 14px;
    font-weight: 300;
    text-align: center;
}

.row-slider-products-home {
    margin-bottom: 40px;
}

.more-offers {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid #c62127;
    -webkit-transition: letter-spacing 300ms ease;
    transition: letter-spacing 300ms ease;
    color: #c62127;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.more-offers:hover {
    letter-spacing: 4px;
}

.div-more-offers {
    text-align: center;
}

.subfooter {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #c62127;
}

.payments-methods {
    position: relative;
    overflow: hidden;
    padding-left: 0px;
    float: right;
    background-color: #fff;
}

.overlay-payments-methods_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    border-bottom: 110px solid transparent;
    border-left: 50px solid #c62127;
}

.content-payment-methods {
    position: relative;
    z-index: 999;
    min-height: 85px;
    padding: 35px 40px 30px 45px;
    text-align: center;
}

.title-payments {
    margin-bottom: 8px;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    text-align: left
}

.payment-section-footer .container-fluid {
    padding: 10px !important;
    overflow: hidden;
}

.overlay-payments-methods_2 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    border-top: 110px solid transparent;
    border-right: 50px solid #c62127;
}

.menu-footer {
    overflow: hidden;
    height: 100%;
    min-height: 85px;
    padding-top: 34.5px;
    padding-bottom: 34.5px;
    float: left;
}

.social-footer {
    float: right;
}

.last-footer {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ebebeb;
    text-align: center;
}

.newsletter {
    float: right;
    text-align: center;
}

.payment-div {
    float: left;
}

.payment-div, .newsletter {
    max-width: 50%;
}

.title-newsletter {
    color: #c62127;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.link-modal-newsletter {
    display: inline-block;
    background: #c62127;
    padding: 5px 12px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.link-modal-newsletter:hover {
    background: #ad1d22;
}

.links-footer {
    margin-right: 10px;
    float: right;
}

.ink-nav-footer {
    display: inline-block;
    height: 25px;
    padding-right: 9px;
    padding-left: 9px;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #fff;
    font-size: 13px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.ink-nav-menu { /*Caracter?sticas texto bot?es links*/
    display: inline-block;
    height: 25px;
    padding-right: 9px;
    padding-left: 9px;
    border-bottom: 1px solid transparent;
    color: #fff;
    font-size: 13.6px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.ink-nav-link { /*Caracter?sticas texto links*/
    display: inline-block;
    height: 25px;
    padding-right: 9px;
    padding-left: 9px;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}

.ink-nav-link:hover { /*Caracter?sticas texto links*/
    display: inline-block;
    height: 25px;
    padding-right: 9px;
    padding-left: 9px;
    color: #000;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}


.ink-nav-footer:hover {
    border-bottom-color: #fff;
}


.ink-nav-footer.w--current {
    border-bottom: 1px solid #fff;
    text-decoration: none;
}


.cards-payment {
    display: block;
    max-height: 52px;
    max-width: 100%;
}

.copyright {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0px;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}

.voz {
    position: relative;
    top: -1px;
}

.titles-internal-pages {
    position: relative;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 20px;   /*T?tulo A JCruzeiro*/
	color: #c62127;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.titles-internal-pages.title-budget {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 26px;
    line-height: 36px;
}

.section-internal-pages {
    min-height: 600px;
    padding-bottom: 60px;
}

.section-internal-pages.section-fast-delivery {
    padding-bottom: 40px;
}

.section-internal-pages.section-fast-delivery.section-budgest {
    padding-top: 30px;
}

.section-internal-pages.section-fast-delivery.section-budgest.section-contact-page {
    padding-bottom: 0px;
}

.section-internal-pages.section-products-archive {
    padding-bottom: 15px;
}

.image-featured-business-page {
    display: block;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}

.paragraph-content {
    color: #000;
    font-weight: 400;
    text-align: center;
	font-size: 14px;
}

.paragraph-content.description-budget {
    display: block;
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    color: #c62127;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;

}

.image-fast-delivery {
    display: block;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
}

.subtitle-fast-delivery {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}

.subtitle-fast-delivery.title-featured-news {
    margin-bottom: 10px;
}

.view-our-fleet {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #acacac;
}

.title-view-our-fleet {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.item-fleet-slider {
    padding-right: 10px;
    padding-left: 10px;
}

.overlay-fleet-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 0, 7, .71);
    opacity: 0;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.overlay-fleet-item.overlay-last-news {
    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    padding: 6px 20px;
    background-color: #cc1a24;
    opacity: 0;
}

.content-fleet-item {
    position: relative;
    cursor: pointer;
}

.content-fleet-item.other-news-thumb {
    margin-bottom: 6px;
}

.more-fleet {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.link-featured-news {
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    color: #c62127;
    text-decoration: none;
    text-align: center;
}

.link-featured-news:hover {
    opacity: 0.85;
}

.thumb-featured-news {
    margin-bottom: 10px;
}

.view-more {
    margin-bottom: 0px;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    text-transform: uppercase;
}

.title-other-news {
    margin-bottom: 0px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}

.link-other-news {
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    color: #fff;
    text-decoration: none;
}

.link-other-news:hover {
    opacity: 0.8;
}

.title-products-page {
    position: relative;
    z-index: 999;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #fff;
    font-size: 20px;
    line-height: 33px;
    font-weight: 400;
    text-transform: uppercase;
}

.div-title-products-page {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.line-title-products {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #c62127;
}

.article-category-products {
    padding: 0px 15px;
}

.category-name {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 31px;
    font-weight: 300;
    text-transform: uppercase;
}

.link-category {
    display: block;
    padding: 6px 15px 15px;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.link-category:hover {
    opacity: 0.9;
}

.link-category.super-offers {
    background-color: #d70000;
}

.super-offers {
    background-color: #d70000;
}

.link-category.floors-coverings {
    background-color: #12c1b3;
}

.link-category.several {
    background-color: #a449a7;
}

.link-category.crockery-metals {
    background-color: #1281c1;
}

.loucas-e-metais {
    background-color: #1281c1;
}

.link-category.electrics {
    background-color: #f48933;
}

.link-category.window-frames {
    background-color: #04c568;
}

.first-row-category {
    margin-bottom: 30px;
}

.title-products-archive {
    position: relative;
    margin-bottom: 3px;
}

.div-category-list-products {
    padding-left: 15px;
}

.brand {
    font-size: 10px;
    margin: 0;
}

.form-budget {
    display: block;
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
}

.form-budget.contact-form {
    margin-bottom: 40px;
}

.article-labels-forms {
    padding-right: 0px;
    text-align: right;
}

.article-inputs-forms {
    padding-left: 20px;
}

.input-forms {
    border: 2px solid #c62127;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.input-forms:focus {
    border-color: #d60008;
}

.label-forms {
    line-height: 38px;
    text-transform: uppercase;
}

.submit-forms {
    padding-top: 11px;
    padding-right: 30px;
    padding-left: 30px;
    float: right;
    border: 2px solid #c62127;
    background-color: transparent;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #c62127;
    text-transform: uppercase;
}

.submit-forms:hover {
    background-color: #c62127;
    color: #fff;
}

.col-2-contact-form {
    width: 16.6666667%;
    min-height: 1px;
    float: left;
    text-align: right;
}

.col-10-contact-form {
    width: 83.333333%;
    padding-left: 20px;
    float: left;
}

.col-5-stores {
    width: 50%;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    text-align: center;
}

.subtitle-stores {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.item-store {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}
.item-store-loja-coqueiros{
    margin: 0 auto;
    display: block;
    float: none;
}

.image-store {
    margin-bottom: 5px;
}

.title-store {
    margin-bottom: 8px;
    color: #000;
    text-transform: uppercase;
}

.phone-store {
    margin-bottom: 0px;
    color: #000;
    font-weight: 700;
}

.span-code-area {
    font-size: 12px;
}

.span-code-area.span-codearea-page {
    margin-right: 5px;
    font-size: 16px;
}

.address-store {
    margin-bottom: 0px;
    color: #000;
    font-size: 12px;
    line-height: 15px;
}

.map-stores-city {
    position: relative;
    overflow: hidden;
    max-height: 340px;
    margin-bottom: 10px;
}

.map-stores-city.last-map {
    margin-bottom: 0px;
}

.title-map-stores {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
}

.article-stores {
    padding-right: 0px;
    padding-left: 0px;
}

.item-stores {
    position: relative;
    min-height: 500px;
    background-image: url('../images/matriz-jatai.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-stores.filial-jatai {
    background-image: url('../images/filial-jatai.jpg');
}



.item-stores.loja-coqueiros {
    background-image: url('../images/fachada-loja-coqueiros.jpg');
}

.overlay-stores {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .58);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.address-content {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.title-store-page {
    color: #fff;
    font-size: 27px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.phone-store-page {
    margin-bottom: 2px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.description-address {
    margin-bottom: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.link-store {
    display: block;
    color: #fff;
    text-decoration: none;
}

.icons-view-more-store {
    position: absolute;
    right: 20px;
    bottom: 5px;
    opacity: 0;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.icon-store {
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

.name-city-store {
    position: absolute;
    top: 0px;
    right: 559px;
    z-index: 999;
    padding: 14px 25px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ffd200;
}

.name-city-store-coqueiros {
    right: 525px !important;
}


.city-name-stores {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.screen-reader-response {
    display: none;
}

.wpcf7-not-valid-tip {
    font-size: 9px;
    float: right;
    position: relative;
    bottom: 10px;
    color: darkred;
}

.wpcf7-textarea {
    height: 60px !important;
}

.wpcf7-validation-errors {
    text-align: center;
    color: darkred;
}

.slick-track .article-products {
    margin-bottom: 40px;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.p-tabloid {
    color: #000;
    display: inline-block;
}

.download-tabloid {
    text-decoration: none;
    background: #00c86b;
    color: #fff;
    padding: 4px;
    border-radius: 7px;

    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.download-tabloid:hover {
    background: #00a357;
}

.texto-juridico {
    font-size: 9px;
    color: #666666;
}

.texto-juridico li {
    list-style: none;
}

.hidden-main {
    display: none;
}

.searchform {
    position: absolute;
    right: 10px;
    bottom: 0px;
    padding: 5px;
    width: 230px;
    background: #C62127;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}

.input-search {
    height: 38px;
    width: 80%;
    float: left;
    border: none !important;
    margin: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.button-search {
    height: 38px;
    width: 20%;
    float: left;
    background: transparent url('../../Imagens/search.png') no-repeat center center;
    -webkit-background-size: 60%;
    background-size: 60%;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.button-search:hover {
    opacity: 0.8;
}

@media (max-width: 1090px) {
	.ink-nav-footer {
		font-size: 11px !important;
	}
	
	.navigation-box-header .ink-nav-footer {
		font-size: 11px !important;
	}
	
	.container-fluid3 { /*quadro vermelho com os links*/
		margin-left: 25% !important;
		margin-top: 50px !important;
	}
	
	
	
	
	
	
	
	
	
}